body{
	font: 15px/1.5 Arieal, Helvetica,sans-serif;
	padding: 0;
	margin: 0;
	background-color: grey;
}
/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}


ul{
	margin:0;
	padding: 0;
}
.button_1{
	height: 36px;
	background: #e8491d;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}


}

.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Header **/
header{
	background: #35224a;
	color: #f4f4f4;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #f4f4f4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}


.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
	}
	
	.main-nav a {
		font-size: .95em;
		color: #3acec2;
		text-transform: uppercase;
	}

	.main-nav a:hover {
		color: #093;
	}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff000;
	background: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 60px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
	}

header .highlight, header .current a{
	color: #ff0000;
	font-weight: bold;
}
 .time{
color: red;

}

header a:hover{

	color: #0000ff;
	font-weight: bold;
}
/* Showcase */
#showcase{
	min-height: 400px;
	background-image: url('../img/flock.jpg') ;
	text-align: center;
	color: #00ff00;
	background-repeat: no-repeat;
	width: 100%;
	background-size:cover;
	height: auto;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
	color: red;
}

#showcase p{
	font-size: 20px;
	color: red;
}

/* Newsletter */

#newsletter{
	padding: 15px;
	color: #00ff00;
	background: #35422a;
}

#newsletter h1{
	float:left;
}

#newsletter form{
	float: right;
	margin-top: 10px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/* Boxes */

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

 .box img{
	 margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    border-radius: 8px;
    max-width: 100%;

}

/*Sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding-right: 5px;
}

/*Main-col*/
article#main-col{
	float: left;
	width: 65%;
}

/*Production*/
ul#production li{
	list-style: none;
	padding: 20p;
	border:#cccccc solid 3px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

footer{
	padding: 10px;
	margin-top: 10px;
	color: red;
	background-color: #e8491d;
	text-align: center;
	//position: fixed;
}

/* Media Queries */
@media(min-width:740px;) {
header #branding,
header nav,
header nav li,
#newsletter h1,
#newsletter form,
#boxes .box,
article#main-col,
aside#sidebar{
	float: none;
	text-align: center;
	width: 100%;
}

header{
	padding-bottom: 20px;
	position: fixed;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		width: 100%;
		top: 0;
		z-index: 1000;

	
}

#showcase h1{
	margin-top: 40px;
}

#newsletter button, .quote button{
	display: block;
	width: 100%;
}

#newsletter form input[type="email"], .quote input, .quote textarea{
	width: 90%
	margin-bottom:5px;
}
}



